# Manipulação e Agregação de Dados - Exercícios

Resolva os exercícios propostos abaixo. Os exercícios usam um dataset de reclamações/solicitações registradas por cidadãos. O detaset foi derivado de dados do [Portal de Dados Abertos da Prefeitura de Curitiba](https://www.curitiba.pr.gov.br/DADOSABERTOS/).

## Leitura e análise inicial dos dados

Inicie um DataFrame a partir do arquivo `2017-02-01_156_-_Base_de_Dados_sample.csv`. 

**Dica:** Caso o arquivo não seja separado por vírgulas, o Pandas não conseguirá reconhecer os campos adequadamente. Você precisará fornecer o parâmetro `sep=';'` para indicar o separador correto (neste caso, o `;`).

**Dica:** Aplicativos modernos tendem a armazenar arquivos no formato UTF-8, mas é comum encontrar arquivos codificados em outros formatos. Caso você tenha problemas para ler o arquivo, utilize o parâmetro `encoding='latin-1'` para selecionar o encoding correto (*latin-1* neste exemplo).

In [1]:
# Resposta:
import pandas as pd
# lê o arquivo CSV
df = pd.read_csv('../data/2017-02-01_156_-_Base_de_Dados_sample.csv', sep=';', encoding='latin-1')

Visualize algumas linhas de dados:

In [2]:
# Resposta:
df

,SOLICITACAO,TIPO,ORGAO,DATA,HORARIO,ASSUNTO,SUBDIVISAO,DESCRICAO,LOGRADOURO_ASS,BAIRRO_ASS,REGIONAL_ASS,MEIO_RESPOSTA,OBSERVACAO,SEXO,BAIRRO_CIDADAO,REGIONAL_CIDADAO,DATA_NASC,TIPO_CIDADAO,ORGAO_RESP,RESPOSTA_FINAL
0,6669771,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,09/11/2016,21:02:44,ABORDAGEM SOCIAL DE RUA - ADULTO,PESSOAS/FAMÍLIAS EM DESABRIGO NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - PESSOAS/FAM...,"ANDRE DE BARROS, 0",CENTRO,Unidade Regional Matriz,NENHUM,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL,M,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,Abordagem realizada. Pessoa foi orientada quan...
1,6718351,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,27/12/2016,00:40:04,ABORDAGEM SOCIAL DE RUA - ADULTO,PERDIDA/DESORIENTADA,ABORDAGEM SOCIAL DE RUA - ADULTO - PERDIDA/DES...,"NILO CAIRO, 0",CENTRO,Unidade Regional Matriz,NENHUM,"NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL, RELATA E...",M,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P..."
2,6702371,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,07/12/2016,14:09:42,ABORDAGEM SOCIAL DE RUA - CRIANÇA,ALCOOLIZADAS/DROGADAS,ABORDAGEM SOCIAL DE RUA - CRIANÇA - ALCOOLIZAD...,"VISCONDE DE NACAR, 1210",CENTRO,Unidade Regional Matriz,NENHUM,NaN,F,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,"- EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A..."
3,6718692,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,27/12/2016,13:28:27,ABORDAGEM SOCIAL DE RUA - ADULTO,PESSOAS/FAMÍLIAS EM DESABRIGO NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - PESSOAS/FAM...,"MARECHAL DEODORO, 0",CENTRO,Unidade Regional Matriz,NENHUM,NaN,M,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,A pessoa da solicitação já foi abordada nesta ...
4,6704503,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,09/12/2016,01:28:16,ABORDAGEM SOCIAL DE RUA - ADULTO,DORMINDO/CAÍDAS NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - DORMINDO/CA...,"MARECHAL DEODORO, 0",CENTRO,Unidade Regional Matriz,NENHUM,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL.,M,NaN,NaN,04/06/1997,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,A pessoa da solicitação já faz parte da rede d...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7008,6690744,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,28/11/2016,13:04:25,DRENAGEM,LIMPEZA E DESOBSTRUÇÃO DE CAIXA DE CAPTAÇÃO,DRENAGEM - LIMPEZA E DESOBSTRUÇÃO DE CAIXA DE ...,"DEPUTADO HEITOR ALENCAR FURTADO, 4000",CIDADE INDUSTRIAL,Unidade Regional CIC,TELEFONE,CIDADÃO INFORMA QUE ESTA DO LADO DO TERMINAL S...,M,FERRARIA,NaN,14/04/1968,CIDADÃO,SECRETARIA DO GOVERNO MUNICIPAL,SEM POSSIBILIDADE DE ATENDIMENTO FACE SUSPENSÃ...
7009,6716157,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,22/12/2016,10:11:15,TRÂNSITO,VEÍCULO ESTACIONADO - ESQUINA,TRÂNSITO - VEÍCULO ESTACIONADO - ESQUINA,"SAO PAULO DA CRUZ, 50",JUVEVE,Unidade Regional Matriz,NENHUM,NÃO SOUBE INFORMAR TODOS OS DADOS IMPORTANTES.,M,JARDIM GUAIRACA,NaN,18/05/1989,CIDADÃO,SECRETARIA MUNICIPAL DE TRÂNSITO,"Informamos que encaminhamos a viatura 430, às ..."
7010,6689584,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,26/11/2016,21:03:07,ABORDAGEM SOCIAL DE RUA - CRIANÇA,DESENVOLVENDO ATIVIDADES INFORMAIS,ABORDAGEM SOCIAL DE RUA - CRIANÇA - DESENVOLVE...,"DO ROSARIO, 0",SAO FRANCISCO,Unidade Regional Matriz,TELEFONE,ESTÃO PRÓXIMAS AO CAVALO BABÃO. NÃO SOUBE INFO...,F,CENTRO,NaN,25/11/1977,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P..."
7011,6661976,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,03/11/2016,15:54:31,NOVO MOBILIÁRIO URBANO,PONTO DE ÔNIBUS,NOVO MOBILIÁRIO URBANO - PONTO DE ÔNIBUS,"COMENDADOR FRANCO, 0",PRADO VELHO,Unidade Regional Matriz,EMAIL,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL. PROTOCOL...,F,CAMPINA,NaN,15/03/1982,CIDADÃO,URBANIZAÇÃO DE CURITIBA,"Prezada cidadã, informamos que a sua solicitaç..."
7012,6734925,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,11/01/2017,20:10:14,ABORDAGEM SOCIAL DE RUA - ADULTO,PERDIDA/DESORIENTADA,ABORDAGEM SOCIAL DE RUA - ADULTO - PERDIDA/DES...,"PRESIDENTE AFFONSO CAMARGO, 330",JARDIM BOTANICO,Unidade Regional Matriz,NENHUM,NaN,M,ITABERABA,NaN,19/10/1987,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,Em atendimento a solicitação encontrava-se um ...

Use o método `df.describe(include="all")` para exibir informações sobre as colunas.

In [3]:
# Resposta:
df.describe(include="all")

,SOLICITACAO,TIPO,ORGAO,DATA,HORARIO,ASSUNTO,SUBDIVISAO,DESCRICAO,LOGRADOURO_ASS,BAIRRO_ASS,REGIONAL_ASS,MEIO_RESPOSTA,OBSERVACAO,SEXO,BAIRRO_CIDADAO,REGIONAL_CIDADAO,DATA_NASC,TIPO_CIDADAO,ORGAO_RESP,RESPOSTA_FINAL
count,7.013000e+03,7013,7013,7013,7013,7013,7013,7013,7013,7013,7011,7013,3786,7013,6897,6757,6889,7013,7013,7010
unique,NaN,7,5,92,6438,148,388,482,5612,75,10,4,2585,2,172,10,5398,1,23,3154
top,NaN,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,05/12/2016,18:27:15,COLETA,MANUTENÇÃO DE LUMINÁRIAS,ILUMINAÇÃO PÚBLICA - MANUTENÇÃO DE LUMINÁRIAS,"PRESIDENTE AFFONSO CAMARGO, 330",CENTRO,Unidade Regional Matriz,EMAIL,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL.,F,CIDADE INDUSTRIAL,Unidade Regional Boa Vista,22/06/1962,CIDADÃO,SECRETARIA MUNICIPAL DO MEIO AMBIENTE,"O contrato de Coleta de Vegetais, caliças e en..."
freq,NaN,5812,6649,163,4,1633,969,969,39,436,1572,3750,88,3613,483,1130,73,7013,2121,1334
mean,6.702377e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2.668504e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,6.659367e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,6.680119e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,6.700369e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,6.722191e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,6.763349e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Crie um novo DataFrame chamado `df_elogios` contendo apenas as linhas cujos valores na coluna `TIPO` são iguais a 'ELOGIO'. Este DataFrame deve ter as colunas TIPO, ASSUNTO, e BAIRRO_CIDADAO.

In [4]:
# Resposta:
df_elogios = df[df['TIPO'] == 'ELOGIO'][['TIPO', 'ASSUNTO', 'BAIRRO_CIDADAO']]
df_elogios

        TIPO                             ASSUNTO              BAIRRO_CIDADAO
124   ELOGIO                              COLETA                       BATEL
457   ELOGIO  MOTORISTAS, COBRADORES E PORTEIROS               SANTA CANDIDA
573   ELOGIO                       OUVIDORIA SMS              ALTO DA GLORIA
981   ELOGIO                SINALIZAÇÃO VERTICAL                   BACACHERI
1023  ELOGIO                      POSTO DE SAÚDE                 BAIRRO ALTO
...      ...                                 ...                         ...
6700  ELOGIO                      POSTO DE SAÚDE           CIDADE INDUSTRIAL
6759  ELOGIO                  ESPORTE ESTUDANTIL                     UBERABA
6897  ELOGIO  MOTORISTAS, COBRADORES E PORTEIROS                      NACOES
6944  ELOGIO       UNIDADE DE PRONTO ATENDIMENTO              JARDIM GUARUJA
7001  ELOGIO  MOTORISTAS, COBRADORES E PORTEIROS  NUCLEO COLONIAL DE PINHAIS

[99 rows x 3 columns]

Quais são os 5 bairros com mais elogios? Agrupe pelo `BAIRRO_CIDADAO` e ordene o resultado para responder.

In [5]:
# Resposta:
top_bairros = df_elogios.groupby('BAIRRO_CIDADAO').size().sort_values(ascending=False).head(5)
print(top_bairros)

BAIRRO_CIDADAO
CIDADE INDUSTRIAL    12
SITIO CERCADO        12
CAJURU               11
BOQUEIRAO             6
BAIRRO ALTO           5
dtype: int64

Crie dois novos DataFrames, um contendo os registros de pessoas do sexo masculino e outra do sexo feminino. Use estes DataFrames para responder:

Qual é a proporção de reclamações entre homens e mulheres? (total de reclamações de homens dividido pelo total de reclamações de mulheres)

In [6]:
# Resposta:
df_homens = df[df['SEXO'] == 'M']
df_mulheres = df[df['SEXO'] == 'F']

# Filtra apenas reclamações
reclamacoes_homens = df_homens[df_homens['TIPO'] == 'RECLAMAÇÃO']
reclamacoes_mulheres = df_mulheres[df_mulheres['TIPO'] == 'RECLAMAÇÃO']

# Calcula a proporção
proporcao = len(reclamacoes_homens) / len(reclamacoes_mulheres)
print("Proporção de reclamações entre homens e mulheres:", proporcao)

Proporção de reclamações entre homens e mulheres: 0.5081081081081081

Concatene os dois DataFrames criados acima para criar um DataFrame chamado `df_todos`. Verifique se este DataFrame tem o mesmo número de linhas do DataFrame lido do CSV.

In [7]:
# Resposta:
df_todos = pd.concat([df_homens, df_mulheres])
print("Linhas em df_todos:", len(df_todos))
print("Linhas no DataFrame original:", len(df))
print("Quantidade igual?", len(df_todos) == len(df))

Linhas em df_todos: 7013
Linhas no DataFrame original: 7013
Quantidade igual? True

Crie um novo DataFrame chamado `df_sexo` contendo a contagem de registros para cada sexo. A coluna com a contagem deve se chamar `contagem`.

In [8]:
# Resposta:
df_sexo = df['SEXO'].value_counts().rename_axis('SEXO').reset_index(name='contagem')
df_sexo

  SEXO  contagem
0    F      3613
1    M      3400

Crie um novo DataFrame chamado `df_sexo_tipo` contendo a contagem de registros para cada sexo e tipo. A coluna com a contagem deve se chamar `total`.

In [9]:
# Resposta:
df_sexo_tipo = df.groupby(['SEXO', 'TIPO']).size().reset_index(name='total')
df_sexo_tipo

   SEXO         TIPO  total
0     F     DENÚNCIA     31
1     F       ELOGIO     65
2     F   INFORMAÇÃO     25
3     F   RECADASTRO     79
4     F   RECLAMAÇÃO    555
5     F  SOLICITAÇÃO   2851
6     F     SUGESTÃO      7
7     M     DENÚNCIA     13
8     M       ELOGIO     34
9     M   INFORMAÇÃO     11
10    M   RECADASTRO     91
11    M   RECLAMAÇÃO    282
12    M  SOLICITAÇÃO   2961
13    M     SUGESTÃO      8

Faça uma junção (join ou merge) dos DataFrames `df_sexo, df_sexo_tipo` para criar um novo DataFrame chamado `df_juncao` contendo as contagens por sexo e também por sexo/tipo.

In [10]:
# Resposta:
df_juncao = pd.merge(df_sexo_tipo, df_sexo, on='SEXO')
df_juncao

   SEXO         TIPO  total  contagem
0     F     DENÚNCIA     31      3613
1     F       ELOGIO     65      3613
2     F   INFORMAÇÃO     25      3613
3     F   RECADASTRO     79      3613
4     F   RECLAMAÇÃO    555      3613
5     F  SOLICITAÇÃO   2851      3613
6     F     SUGESTÃO      7      3613
7     M     DENÚNCIA     13      3400
8     M       ELOGIO     34      3400
9     M   INFORMAÇÃO     11      3400
10    M   RECADASTRO     91      3400
11    M   RECLAMAÇÃO    282      3400
12    M  SOLICITAÇÃO   2961      3400
13    M     SUGESTÃO      8      3400

Crie uma nova coluna no DataFrame `df_juncao` chamada `proporcao` contendo a porcentagem de homens e mulheres que fizeram cada tipo de registro. Responda: qual sexo faz mais elogios? Qual faz mais solicitações? Qual faz mais reclamações?

In [11]:
# Resposta:
df_juncao['proporcao'] = df_juncao['total'] / df_juncao['contagem'] * 100
display(df_juncao)

# Para responder:
elogios = df_juncao[df_juncao['TIPO'] == 'ELOGIO']
solicitacoes = df_juncao[df_juncao['TIPO'] == 'SOLICITAÇÃO']
reclamacoes = df_juncao[df_juncao['TIPO'] == 'RECLAMAÇÃO']

print("Sexo com mais elogios:", elogios.loc[elogios['total'].idxmax(), 'SEXO'])
print("Sexo com mais solicitações:", solicitacoes.loc[solicitacoes['total'].idxmax(), 'SEXO'])
print("Sexo com mais reclamações:", reclamacoes.loc[reclamacoes['total'].idxmax(), 'SEXO'])

   SEXO         TIPO  total  contagem  proporcao
0     F     DENÚNCIA     31      3613   0.858013
1     F       ELOGIO     65      3613   1.799059
2     F   INFORMAÇÃO     25      3613   0.691946
3     F   RECADASTRO     79      3613   2.186549
4     F   RECLAMAÇÃO    555      3613  15.361196
5     F  SOLICITAÇÃO   2851      3613  78.909493
6     F     SUGESTÃO      7      3613   0.193745
7     M     DENÚNCIA     13      3400   0.382353
8     M       ELOGIO     34      3400   1.000000
9     M   INFORMAÇÃO     11      3400   0.323529
10    M   RECADASTRO     91      3400   2.676471
11    M   RECLAMAÇÃO    282      3400   8.294118
12    M  SOLICITAÇÃO   2961      3400  87.088235
13    M     SUGESTÃO      8      3400   0.235294

Sexo com mais elogios: F
Sexo com mais solicitações: M
Sexo com mais reclamações: F